<h2>Hello, Elizabeth</h2>
<p>Welcome to your British Gas activity feed</p>

{{#each model as |activity|}}
  <p class="text-right">{{format-date activity.timestamp}}</p>
  <div class="alert">
    <span class="bgcss-icon-electricity"></span>
    <h4>{{activity.title}}</h4> 
    <p>{{activity.description}}</p>
    <a class="btn btn-aem btn-primary" role="button" href="#">
        <i class="fa fa-angle-right"></i>Find out more
    </a>
    <a class="btn btn-aem btn-tertiary" role="button" href="#">Need help?</a>
  </div>
{{/each}}
