{{outlet}}

<div class="container-fluid px0">  
    <div class="row pos-relative jumbotron jumbotron-blue no-radius">  
        <div class="jumbotron-area-blue hidden-xs hidden-sm"></div>  
        <div class="jumbotron-curve-blue hidden-xs hidden-sm"></div>  
        <div class="jumbotron-blue-content col-xs-12 col-sm-12 col-md-4 col-md-push-1 col-lg-4 col-lg-push-1">  
            <h1>Hive</h1>  
            <h3>Free electricity you get paid for using energy from the sun.</h3>  
            <p>  
                <a class="btn btn-primary" role="button" href="#">  
                    <i class="fa fa-angle-right"></i>Buy now  
                </a>  
            </p>  
        </div>  
        <div class="jumbotron-blue-bg background-cover col-xs-12" style="background-image:url(content/dam/british-gas/aem/home-page_image-cp.png);">  
            <div class="horizontal-gradient gradient hidden-xs hidden-sm"></div>  
            <div class="jumbotron-curve-blue visible-xs visible-sm"></div>  
        </div>  
    </div>  
</div>  

<h2>List of Activities</h2>

<ul>
  {{#each model as |activity|}}
    <li><em>{{activity.title}}</em> {{activity.description}}</li>
  {{/each}}
</ul>

<div class="blank-divider"></div>

<p>  
    <a class="btn btn-aem btn-primary" role="button" href="#">  
        <i class="fa fa-angle-right"></i>Find out more  
    </a>  
</p> 

<p>  
    <a class="btn btn-aem btn-secondary" role="button" href="#">  
        <i class="fa fa-angle-right"></i>Find out more  
    </a>  
</p>  

<span class="bgcss-icon-electricity"></span>  
<span class="bgcss-icon-gas"></span>  
<span class="bgcss-icon-dual"></span>  
<span class="bgcss-icon-statistics"></span>  
<span class="bgcss-icon-meter"></span>  
<span class="bgcss-icon-bill"></span>  
<span class="bgcss-icon-pound-sign"></span>  
<span class="bgcss-icon-home-move"></span>  
<span class="bgcss-icon-home-care"></span>  
<span class="bgcss-icon-price-tag"></span>  
<span class="bgcss-icon-bell"></span>  
<span class="bgcss-icon-engineer-appointment"></span>  
<span class="bgcss-icon-documents"></span>  
<span class="bgcss-icon-dual-energy"></span>  
<span class="bgcss-icon-dashboard"></span>  
<span class="bgcss-icon-boiler"></span>  
<span class="bgcss-icon-heating"></span>  
<span class="bgcss-icon-home-electrics"></span>  
<span class="bgcss-icon-drains"></span>  
<span class="bgcss-icon-plumbing"></span>  
<span class="bgcss-icon-washing-machine"></span>  
