<h2 class="mb1 text-bold" style="font-size: 30px">Hello, Elizabeth</h2>
<h5 class="mb4">Welcome to your British Gas activity feed</h5>

{{#each model as |notification|}}
  {{{alert-box notification=notification}}}
{{/each}}
